.work__pro {
   width: 1170px;
   display: flex;
   padding: 0px;
}

.work__projekt-list {
   list-style: none;
   display: flex; 
   flex-wrap: wrap; 
   margin: 0px;
   padding: 0px;

  img {
    display: block;
 }
}

.work__projekt-page {
   height: 404px;
   width: 370px;
   background: $second-color;
   border: 1px solid #eeeeee;
   margin-right: 30px;
   margin-bottom: 30px;

  &:nth-child(3n + 3) {
    margin-right: -15px; 
  }
  &:nth-child(n + 7) {
    margin-bottom: 0px;
  }
  &:hover, &:focus {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work__list-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   color: $main-color;
   margin: 20px 24px 4px;
}

.work__list-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.9;
   color: $accent-second-color;
   margin: 0px 24px;
}
.work__picture {
   width: 370px;
   height: 294px;
   left: 1015px;
   top: 1130px;
   display: block;
}