.logotip {
  margin: 0px;
  text-decoration: none;
  cursor: pointer;
  padding: 16px 0px 16px 15px;

  &:hover {
    text-decoration: underline $accent-color;
  }

  &:focus {
    outline: 2px solid $accent-color;
  }

  @media screen and (min-width: 768px) {
  padding: 26px 0px 26px 15px;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0
    px 25px 215px;
  }
}

.logo-web {
  font-family: $title-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.logo-studio {
  font-family: $title-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}
