.work__btn {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__button-portfolio {
  display: flex;
  justify-content: flex-start;
  width: 480px;
  flex-wrap: wrap;
  margin-bottom: 34px;
  list-style-type: none;

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    flex-wrap: nowrap;
    width: 1200px;
  }
}

.work__button-oll {
  width: 73px;
  height: 38px;
  left: 515px;
  top: 208px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $button-first-color;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 15px;

  &:hover {
    outline: none;
    border: none;
    background: $accent-color;
    text-align: center;
    letter-spacing: 0.03em;
    color: $button-second-color;
  }
  &:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.work__button-web {
  width: 125px;
  height: 38px;
  left: 596px;
  top: 208px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $button-first-color;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 15px;

  &:hover {
    outline: none;
    border: none;
    background: $accent-color;
    text-align: center;
    letter-spacing: 0.03em;
    color: $button-second-color;
  }
  &:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.work__button-addition {
  width: 112px;
  height: 38px;
  left: 729px;
  top: 208px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $button-first-color;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 15px;

  &:hover {
    outline: none;
    border: none;
    background: $accent-color;
    text-align: center;
    letter-spacing: 0.03em;
    color: $button-second-color;
  }
  &:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.work__button-design {
  width: 103px;
  height: 38px;
  left: 849px;
  top: 208px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $button-first-color;
  border-radius: 8px;
  margin-right: 8px;

  &:hover {
    outline: none;
    border: none;
    background: $accent-color;
    text-align: center;
    letter-spacing: 0.03em;
    color: $button-second-color;
  }
  &:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.work__button-marceting {
  width: 130px;
  height: 38px;
  left: 960px;
  top: 208px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $button-first-color;
  border-radius: 8px;

  &:hover {
    outline: none;
    border: none;
    background: $accent-color;
    text-align: center;
    letter-spacing: 0.03em;
    color: $button-second-color;
  }
  &:focus {
    outline: none;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
