$main-color:#212121; 
$second-color: #ffffff;
$button-first-color: #212121;
$button-second-color: #ffffff;
$title-first-color: #212121;
$title-second-color: #ffffff; 
$accent-color: #2196f3;
$accent-second-color: #757575;
$icon-color:#afb1b8;
$pre-title-case: uppercase;
$main-font: "Open Sans", sans-serif;
$title-font: "Raleway", sans-serif;